body{
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}
form{
    border: 0.3px solid rgba(0, 0, 0, 0.233);
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    height: 500px;
}
.imagem-topo{
    display: flex;
    align-items: center;
    justify-content:center;
}
.email{
    border: 0.3px solid rgba(0, 0, 0, 0.233);
    width: 60%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 5px;
}
.senha{
    border: 0.3px solid rgba(0, 0, 0, 0.233);
    width: 60%;
    height: 45px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 5px;
}
.entrar{
    border-radius: 5px;
    width: 60%;
    height: 40px;
    margin-top: 10px;
    background-color: #0095F6;
    color:#fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content:center;
}
.ou{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content:center; 
}
.logo-fb {
    width: 30px;  
}
span{
    color: #446C9F;
    font-size: 20px;
    margin-left: 5px;
}
.imagem{
    display: flex;
    align-items: center;
    justify-content:center;
}
.esqueceu-a-senha{
    display: flex;
    align-items: center;
    justify-content:center;
    color: #385185;
}
footer{
    display: flex;
    align-items: center;
    justify-content:center;
    font-weight:50;
    font-style:unset;
    font-family:sans-serif;
    border: 0.3px solid rgba(0, 0, 0, 0.233);
    margin: 20px;
    height: 80px;
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
footer span{
    color: #0095F6;
    font-weight: 50;
}
.cont{
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
}